.about-section {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0px 30px;
    display: flex;
    gap: 50px;
}

.about-section h2 {
    font-size: 40px;
}

.about-section-text {
    width: 50%;
}

.about-section-video {
    width: 50%;
}

.about-section-text p {
    margin-top: 20px;
}

@media (max-width: 960px) {
	.about-section {
        flex-direction: column;
    }

    .about-section-text {
        width: 100%;
    }
    
    .about-section-video {
        width: 100%;
    }
}